#btn-start:hover {
    -fx-background-color: orange;
    -fx-text-fill: black;
    -fx-scale-x: 150%;
    -fx-scale-y: 150%;
}

#btn-other:hover {
    -fx-background-color: orange;
    -fx-text-fill: black;
}

#btn-start{
    -fx-background-color: black;
    -fx-text-fill: white;
}

#btn-other{
    -fx-background-color: black;
    -fx-text-fill: white;
}

#image-logo:hover{
    -fx-scale-x: 200%;
    -fx-scale-y: 200%;
}

#image-logo{
    -fx-scale-x: 150%;
    -fx-scale-y: 150%;
}

.menu-bar{
    -fx-background-color: rgb(25,30,36);
}

.menu .label{
    -fx-text-fill: white;
}

.menu-item{
    -fx-background-color: rgb(25,55,62);
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: rgb(25,55,62);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.menu-item:hover, .menu-item:focused, .menu-item:pressed {
    -fx-background-color: orange;
}

.menu:hover, .menu:showing, .menu:focused, .menu:pressed {
    -fx-background-color: orange;
}

.menu-item .separator{
    -fx-background-color: orange;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: rgb(25,55,62);
    -fx-table-cell-border-color: white;
    -fx-background-insets: 1, 1 1 1 1;
    -fx-padding: 0; 
}

.table-row-cell:odd{
    -fx-background-color: rgb(25,55,62);
    -fx-table-cell-border-color: white;
    -fx-background-insets: 1, 1 1 1 1;
    -fx-padding: 0.0em;  
}

.table-row-cell:selected {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}


.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view .filler{
   -fx-background-color: transparent;
}
 